# Ignore system files
__pycache__

# Ignore the weight directory
*/weights

# Ignore the results directory
*/*/

# Ignore run_nifti_*
run_nifti_OLD.py
run_nifti_RAF.py

# Ignore jupiter files
*.ipynb

