# Ignore system files
__pycache__
*.pyc

# Ignore the weight directory
#*/weights

# Ignore the results directory
#*/*/

#Ignore xlsx
*.xlsx

#Ignore txt
*.txt

.Rhistory

# Ignore jupiter files
*.ipynb

